<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    <link rel="stylesheet" href="/static/css/em_add_cash.css">
</head>

<body>
    <div class="main-board">
        <div>
            <form action="/em-update-digital" method="POST">
                <div class="section">
                    <label for="digital">Value</label> <br>
                    <input type="number" name="digital" id="digital" min="0" class="cash-field">
                </div>
                <div style="display: flex; gap: 10px; margin-bottom: 10px; margin-top: 10px;">
                    <a class="btn" style="background-color: #B2DA5D; text-decoration: none; font-size: 14px;"
                        href="/em-dashboard">Cancel</a>
                    <input type="submit" name="update_digital" id="update_digital" value="Done" class="btn" style="background-color: #226be2; border: none;">
                </div>
            </form>
        </div>
    </div>
</body>

</html>